@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #FAFAFA;
  --white: #FFFFFF;
  --black: #000000;
  --pink: #ffc0cb;
  --gren: #008000;
  --red: #EC362D;
  --blue: #434CA0;
  --red-100: #fff5f4;

  --box-shadow: #00000040;

  --grey-500: #808080;
  --grey-400: #B9B9B9;
  --grey-300: #D5D5D5;
  --gray-200: #D1D1D1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: var(--background);
}

header {
  height: 69px;
  background: var(--red);
  box-shadow: 0px 4px 4px var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-title {
  font-weight: 700;
  font-size: 37px;
  color: var(--white);
}

.paginaInicial {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 69px;
}

main {
  /* width: 1051px; */
  display: block;
  margin-top: 48px;
}

.main-create {
  margin: auto !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0px;
  width: 1051px;
  height: 181px;
  border: 1px dashed var(--grey-300);
  border-radius: 5px;
}

.main-create p {
  width: 250px;
  padding: 30px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--grey-400);
}

.main-create button {
  font-size: 21px;
  color: var(--red);
  width: 151px;
  height: 40px;
  background: var(--background);
  border: 1px dashed var(--red);
  border-radius: 50px;
}

.main-create button:hover {
  cursor: pointer;
  background: var(--red);
  color: var(--white);
  border: 1px dashed var(--white);
}

.user-list {
  width: 1051px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.criaQuizz {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 17px;
}

.user-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

.criaQuizz button {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin-left: 10px;
  border: none;
}

ion-icon {
  width: 30px;
  height: 30px
}


ion-icon:hover {
  cursor: pointer;
  opacity: .6;
}

.criaQuizz-icon {
  border-radius: 50px;
  color: var(--red);
  background-color: var(--white);
}

.criaQuizz button:hover {
  cursor: pointer;
}

.userQuizzes {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.userQuizzes li {
  position: relative;
}

.userQuizzes-img {
  background-color: var(--pink);
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.pageSucessoQuizz-img {
  position: relative;
  width: 500px;
  height: 266px;
}

.pageSucessoQuizz-img div {
  width: 500px;
  height: 266px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.pageSucessoQuizz-img img {
  width: 500px;
  height: 266px;
}

.pageSucessoQuizz-img p {
  color: var(--white);
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  z-index: 20;
  position: absolute;
  bottom: 20px;
  left: 17px;
}

.userQuizzes-title {
  color: var(--white);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-word;
  position: absolute;
  bottom: 20px;
  left: 17px;
}

.main-list {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin: 55px auto;
  width: 1051px;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 12px;
}

.allQuizzes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.main-page-width{
  width: 1051px;
}

.quizz-page-width{
  width: 100%;
}

.allQuizzes li {
  position: relative;
  width: 340px;
}

.allQuizzes-img {
  border-radius: 5px;
  width: 340px;
  height: 181px;
}

.allQuizzes-title {
  color: var(--white);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-word;
  position: absolute;
  bottom: 20px;
  left: 17px;
}

/*Essa aqui é a classe que eu criei pra tentar arrumar o gradiente*/
.allQuizzes-card {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  background-position: center;
  background-size: 340px 181px;
}

.banner-quizz {
  height: 227px;
  width: 100%;
  background-position: center;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 69px;
  justify-content: center;
}

.banner-quizz p {
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  color: var(--white);
  text-align: center;
  align-items: center;
}

.question-box {
  width: 1051px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 27.91px 34.41px 35.66px 36.43px;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question-declaration {
  background-color: var(--blue);
  width: 688.16px;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin: auto;
}

.alternatives-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.alternatives-box p .alternative-text{
  width: 329px;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

.unselected-img {
  width: 329.91px;
  height: 175.2px;
}

.question-declaration p {
  font-weight: 700;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.restart-quizz {
  width: 260.38px;
  height: 52px;
  border-radius: 15px;
  border: none;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: var(--red-100);
}

.restart-quizz:hover {
  cursor: pointer;
  background-color: var(--red-100);
  color: var(--red);
  border: 1px solid var(--red);
}

.return-home {
  width: 219.64px;
  height: 44px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--grey-500);
  outline: none;
  border: none;
  background-color: transparent;
}

.return-home:hover {
  cursor: pointer;
  color: var(--black);
}

/*CSS da criação dos quizzes*/
.nivelCriaQuizz,
.pageSucessoQuizz,
.comecoCriaQuizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 71px;
}

.nivelCriaQuizz p,
.comecoCriaQuizz p {
  color: var(--black);
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
}

.mb-27 {
  margin-bottom: 43px;
}

.comecoCriaQuizz-title,
.pageSucessoQuizz-title {
  color: var(--black);
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 48px;
}

.box-form {
  background-color: var(--white);
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 27px 20px 15px 16px;
  margin-bottom: 24px;
}

.paginaCriacaoQuizz input {
  width: 564px;
  height: 46px;
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  margin-bottom: 9px;
  box-sizing: border-box;
  padding-left: 23px;
}

.paginaCriacaoQuizz input::placeholder {
  color: var(--grey-400);
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.paginaCriacaoQuizz input[type=text],
.paginaCriacaoQuizz input[type=url] {
  color: var(--black);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.paginaCriacaoQuizz button {
  background-color: var(--red);
  color: var(--red-100);
  text-align: center;
  min-height: 54px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0 35px;
  border: none;
}

.paginaCriacaoQuizz button:hover {
  cursor: pointer;
  background-color: var(--red-100);
  color: var(--red);
  border: 1px solid var(--red);
}

.comecoCriaQuizz-question {
  font-weight: 700;
  margin-bottom: 18px;
  display: flex;
  width: 100%;
  font-size: 20px;
  line-height: 23px;
}

.container {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  min-width: 100%;
  height: 74px;
  padding: 0 20px 0 16px;
}

.mt-18 {
  margin-top: 18px;
}

.pt-00 {
  padding-top: 0;
}

p.invisible {
  opacity: 0;
  margin-top: 0;
}

p.invisible.alert {
  color: var(--red);
  margin-top: 0;
  opacity: 1;
  transition: .5s;
}

.unanswered,
.resultado-quizz {
  scroll-margin-top: 69px;
  width: 759px;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

/* Classes pertinentes ao requisito "Comportamento das respostas" */
.opacidade {
  opacity: 0.6;
}

.correto {
  color: var(--gren);
  width: 329px;
  font-weight: 700;
  font-size: 20px;
}

.incorreto {
  color: var(--red);
  width: 329px;
  font-weight: 700;
  font-size: 20px;
}

.pageSucessoQuizz-botao {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 24px;
}

.pageSucessoQuizz-botao button {
  margin-top: 0;
  margin-bottom: 0;
}

.botaoVoltar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-500);
  height: 44px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 35px;
}

.botaoVoltar:hover {
  color: var(--red);
}

.hide {
  display: none;
}


@media (max-width: 376px) {
  main {
    width: 375px;
    margin: 38px auto auto auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .userQuizzes {
    margin-bottom: 38px;
  }

  .main-title {
    margin: 0 18px 14px;
  }

  .main-create {
    margin: 31px 0px 35px;
    width: 340px;
    height: 181px;
  }

  .user-list {
    width: 340px;
    margin: auto;
  }

  .criaQuizz {
    justify-content: space-between;
    margin: 0 0 16px 0;
  }

  /* tela criacao do quiz */
  .comecoCriaQuizz {
    margin-top: 37px;
  }

  .comecoCriaQuizz-title {
    margin-bottom: 29px;
  }

  .comecoCriaQuizz form {
    width: 375px;
  }

  .paginaCriacaoQuizz input {
    width: 341px;
  }

  .paginaCriacaoQuizz button {
    margin: 29px 0 61px;
    width: 323px;
    font-size: 18px;
  }
}