@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #FAFAFA;
  --white: #FFFFFF;
  --black: #000000;
  --pink: #ffc0cb;

  --red: #EC362D;
  --red-100: #fff5f4;

  --box-shadow: #00000040;

  --grey-500: #808080;
  --grey-400: #B9B9B9;
  --grey-300: #D5D5D5;
  --gray-200: #D1D1D1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: var(--background);
}

header {
  height: 69px;
  background: var(--red);
  box-shadow: 0px 4px 4px var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-weight: 700;
  font-size: 37px;
  color: var(--white);
}

.paginaInicial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 1051px;
  display: block;
}

.main-create {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0px;
  width: 1051px;
  height: 181px;
  border: 1px dashed var(--grey-300);
  border-radius: 5px;
}

.main-create p {
  width: 250px;
  padding: 30px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--grey-400);
}

.main-create button {
  font-size: 21px;
  color: var(--red);
  width: 151px;
  height: 40px;
  background: var(--background);
  border: 1px dashed var(--red);
  border-radius: 50px;
}

.main-create button:hover {
  cursor: pointer;
  background: var(--red);
  color: var(--white);
  border: 1px dashed var(--white);
}

.hide {
  display: none;
}

.user-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.criaQuizz {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 48px 0 17px;
}

.user-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

.criaQuizz button {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 10px;
  border: none;
}

.criaQuizz button ion-icon {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: var(--red);
  background-color: var(--white);
}

.criaQuizz button:hover {
  cursor: pointer;
}

.userQuizzes {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.userQuizzes li {
  position: relative;
}

.userQuizzes-img {
  background-color: var(--pink);
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.userQuizzes-title {
  color: var(--white);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-word;
  position: absolute;
  bottom: 20px;
  left: 17px;
}

.main-list {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 12px;
}

.allQuizzes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.allQuizzes li {
  position: relative;
  width: 340px;
}

.allQuizzes-img {
  border-radius: 5px;
  width: 340px;
  height: 181px;
}

.allQuizzes-title {
  color: var(--white);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-word;
  position: absolute;
  bottom: 20px;
  left: 17px;
}

/*
As duas classes abaixo estão presentes aqui no CSS e no Javascript somente para melhor visualização
Se precisar, sinta-se livre para fazer o que quizer... apagar, mudar etc
*/
.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  flex-direction: column;
}

.comecoCriaQuizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 564px;
  margin: 0 auto;
  margin-top: 71px;
}

.comecoCriaQuizz-title {
  color: var(--black);
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 48px;
}

.paginaCriacaoQuizz form {
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 27px 20px 15px 16px;
}

.paginaCriacaoQuizz input {
  width: 564px;
  height: 46px;
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  margin-bottom: 9px;
  box-sizing: border-box;
  padding-left: 23px;
}

.paginaCriacaoQuizz input::placeholder {
  color: var(--grey-400);
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.paginaCriacaoQuizz input[type=text],
.paginaCriacaoQuizz input[type=url] {
  color: var(--black);
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.paginaCriacaoQuizz button {
  background-color: var(--red);
  color: var(--red-100);
  text-align: center;
  min-height: 54px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin: 85px 0;
  padding: 0 35px;
  border: none;
}

.paginaCriacaoQuizz button:hover {
  cursor: pointer;
  background-color: var(--red-100);
  color: var(--red);
  border: 1px solid var(--red);
}

.comecoCriaQuizz-question {
  font-weight: 700;
  margin-bottom: 18px;
  display: flex;
  width: 100%;
  font-size: 20px;
  line-height: 23px;
}

.mt-18 {
  margin-top: 18px;
}

/*
Classes pertinentes ao requisito "Comportamento das respostas"
*/
.opacidade {
  opacity: 0.6;
}

.correto {
  color: green;
}

.incorreto {
  color: red;
}

@media (max-width: 376px) {
  main {
    width: 375px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .userQuizzes {
    margin-bottom: 38px;
  }

  .main-title {
    margin: 0 18px 14px;
  }

  .main-create {
    margin: 31px 0px 35px;
    width: 340px;
    height: 181px;
  }

  .user-list {
    width: 340px;
    margin: auto;
  }

  .criaQuizz {
    justify-content: space-between;
    margin: 38px 0 16px 0;
  }


  /* tela criacao do quiz */
  .comecoCriaQuizz {
    margin-top: 37px;
  }

  .comecoCriaQuizz-title {
    margin-bottom: 29px;
  }

  .comecoCriaQuizz form {
    width: 375px;
  }

  .paginaCriacaoQuizz input {
    width: 341px;
  }

  .paginaCriacaoQuizz button {
    margin: 29px 0 61px;
    width: 323px;
    font-size: 18px;
  }


}