@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: #FAFAFA;
}

header {
  height: 69px;
  background: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-weight: 700;
  font-size: 37px;
  color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-create {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0px 0px;
  width: 1051px;
  height: 181px;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;
}

.main-create p {
  width: 250px;
  padding: 30px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #B9B9B9;
}

.main-create button {
  width: 151px;
  height: 40px;
  background: #FAFAFA;
  border: 1px dashed #EC362D;
  border-radius: 50px;
}
.main-create button:hover{
  cursor: pointer;
  background: #EC362D;
  border: 3px grey solid;
}

.hide{
  display: none;
}

.user-title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.criaQuizz{
  max-height:fit-content ;
  display: flex;
  align-items: center;
  margin: 48px 0 12px;
}

.criaQuizz button{
  width: 34px;
  height: 34px;
  border-radius: 17px;
  background-color: #EC362D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 10px;
}

.criaQuizz button ion-icon{
  width: 25px;
  height: 25px;
  color: #FFF;
}

.criaQuizz button:hover{
  cursor: pointer;
  border: 3px grey solid;
}

.userQuizzes{
  width: 1051px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.userQuizzes li{
  position: relative;
}

.userQuizzes-img {
  background-color: pink;
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.userQuizzes-title {
  color: red;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-word;
  position: absolute;
  bottom: 20px;
  left: 17px;
}

.main-title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin: 48px 0 12px;
}

.allQuizzes {
  width: 1051px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
/*Coloca os textos encima das imagens*/
.allQuizzes li{
  position: relative;
  width: 340px;
}

.allQuizzes-img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.allQuizzes-title {
  color: red;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-word;
  position: absolute; /*Coloca os textos encima das imagens*/
  bottom: 20px;
  left: 17px;
}
/*
As duas classes abaixo estão presentes aqui no CSS e no Javascript somente para melhor visualização
Se precisar, sinta-se livre para fazer o que quizer... apagar, mudar etc
*/
.question-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EC362D;
  flex-direction: column;
}

/*CSS da criação dos quizzes*/
.question-declaration{
  background-color: blue;
}

.comecoCriaQuizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 564px;
  height: 450px;
  margin:0 auto ;
  margin-top: 71px;
}

.comecoCriaQuizz p{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 48px;
}

.paginaCriacaoQuizz form{
  background-color: #FFF;
  width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 27px 20px 15px 16px;
}

.paginaCriacaoQuizz input{
  width: 564px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  margin-bottom: 9px;
  box-sizing: border-box;
  padding-left: 23px;
}

.paginaCriacaoQuizz input::placeholder{ 
  color: #bababa;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.paginaCriacaoQuizz input[type=text],
.paginaCriacaoQuizz input[type=url]  {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.paginaCriacaoQuizz button{
  background-color: #EC362D;
  min-height: 54px;
  border-radius: 15px;
  text-align: center;
  color: #fff5f4;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 85px;
  padding: 0 35px;
}

.paginaCriacaoQuizz button:hover{
  cursor: pointer;
}



@media (max-width: 375px) {
  /* mobile */
}